h1 {
    border: 5px double teal;
    border-radius: 10px;
    text-align: center;
    font-size: 32pt;
}
@media (min-width:400px) and (max-width:1200) {
    .container {
        display:grid;
        grid-area: auto;
    }
}
.post {
    border: 2px solid lightseagreen;
    margin: 1em;
    border-radius: 10px;
    box-shadow: 10px 5px 5px lightskyblue;
    text-align:center
}
.images {
    display: flex;
    flex-wrap: nowrap;
}
.button {
    border: 2px solid black;
    text-align: center;
    transition-duration: 0.4s;
}
.button:hover {
    background-color: skyblue;
    color: black;
}
p {
    margin: 1em
}

