header {
    border: 5px double darkolivegreen;
    border-radius: 10px;
    text-align: center;
    font-size: 32pt
}
img {
    width: 80%;
    height: 80%;
    margin:1em;
}
.card1 {
    border: 2px solid darkslategrey;
    margin: 1em;
    text-align: center;
    font: small-caps 24pt Aclonica;
    box-shadow: 10px 5px 5px gray;
}
.card2 {
    border: 2px solid darkslategrey;
    margin: 1em;
    text-align: center;
    font: small-caps 24pt Aclonica; 
    box-shadow: 10px 5px 5px gray;
}
@media (min-width:400px) and (max-width:1200) {
    .container1 {
        display:flex;
        flex-direction:column;
        align-items:center;
    }
}
@media (min-width:400px) and (max-width:1200) {
    .card1 {display:flex;
        flex-direction:column;
    }
}
.footer {
    text-align:center
}
.posts {
    border: 2px solid brown;
    margin: 1em;
    border-radius: 10px;
    box-shadow: 10px 5px 5px brown;
    text-align:center
}
@media (min-width:400px) and (max-width:1200) {
    .container2 {
        display:grid;
        grid-area: auto;
    }
}
figure {
    border: thin solid tomato;
}
figcaption {
    background-color: lightcoral
}
